@import '../../styles/variables';

.nav-item.active {
  color: $green!important;
}

.user-menu {
  background: white;
  border: $gray-300 1px solid;
  border-radius: 3px;
  position: absolute;
  padding: 5px 10px;
}