.reading-list {
  position: fixed;
  top: 30%;
  width: 30%;
  height: 50%;
  background: white;
  z-index: 1;

  .opener {
    position: absolute;
    top: 40%;
    right: -19px;
    width: 19px;
    height: 60px;
    border: 1px solid black;
    border-radius: 0 8px 8px 0;
    padding-top: 15px;
    background-color: white;
  }

  .todos-container {
    height: 80%;
    overflow-y: auto;
  }

  .todos-footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
    padding-left: 15%;
  }
}