.todo-container {
  position: fixed;
  top: 30%;
  width: 200px;
  height: 300px;
  background: white;
  z-index: 1;

  .opener {
    position: absolute;
    top: 40%;
    right: -17px;
    width: 17px;
    height: 60px;
    border: 1px solid black;
    border-radius: 0 8px 8px 0;
    padding-top: 17px;
    background-color: white;
  }

  .todo-footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
    padding-left: 15%;
  }
}