@import './styles/custom-bootstrap';
// any styles put here will bbe global
* {
    font-size: 1.1rem;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
}

.disabled {
    pointer-events: none!important;
    color: $gray-400!important;
    background-color: $gray-100!important;
}
